<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="http:cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" ></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/profile.png"  
                        width="156px" 
                        height="142px"
                         alt="" 
                         />
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Twitter.svg" class="icon">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Linkeding.svg" class="icon">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Instagram.svg" class="icon">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Facebook.svg" class="icon">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Dribbble.svg" class="icon">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="age_about">
                        <div class="age">Age</div>
                        <div class="age_number"><%=user.age%></div>
                     </div>
                    <div class="res_info">
                        <div class="residence">Residence</div>
                        <div class="res_area"><%=user.residence%></div>
                     </div>
                     <div class="freelance_info">
                        <div class="freelance">Freelance</div>
                        <div class="freelance_txt"><%=user.freelance%></div>
                     </div>
                     <div class="address_info">
                        <div class="address">Address</div>
                        <div class="address_txt"><%=user.address%></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="lang_title">Languages</div>
                    <div class="lang_container">
                        <div class="lang_txt">Russian</div>
                        <div class="lang_txt">50%</div>
                    </div>
                    <div class="percentage_bar_container">
                        <div class="percentage_bar"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">Uzbek</div>
                        <div class="lang_txt">50%</div>
                    </div>
                    <div class="percentage_bar_container">
                        <div class="percentage_bar2"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">English</div>
                        <div class="lang_txt">100%</div>
                    </div>
                    <div class="percentage_bar_container">
                        <div class="percentage_bar3"></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="lang_title">Skills</div>
                    <div class="lang_container">
                        <div class="lang_txt">HTML</div>
                        <div class="lang_txt">50%</div>
                    </div>
                    <div class="percentage_bar_container">
                        <div class="percentage_bar4"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">CSS</div>
                        <div class="lang_txt">30%</div>
                    </div>
                    <div class="percentage_bar_container">
                        <div class="percentage_bar5"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">JS</div>
                        <div class="lang_txt">70%</div>
                    </div>
                    <div class="percentage_bar_container">
                        <div class="percentage_bar6"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">Phyton</div>
                        <div class="lang_txt">90%</div>
                    </div>
                    <div class="percentage_bar_container">
                        <div class="percentage_bar7"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">Java</div>
                        <div class="lang_txt">100%</div>
                    </div>
                    <div class="percentage_bar_container">
                        <div class="percentage_bar8"></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5"></div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame"></div>
            <div class="right_frame"></div>
        </div>
    </div>
</body>
</html>